
<div class="event event-<%= event.action_type %> event-<%= event.action_label %>">
  <div class="event-main">
    <div class="event-head">
      <a class="event-created-at" data-created-at="<%= event.created_at%>" href="#"><%= event.created_at.strftime("%m-%d-%H:%M")%></a>
      <span class="event-actor">
        <%= link_to "#",class: "from", target: "_blank" do %>
          <img alt="<%= event.actor.name %>" class="avatar" src="https://tower.im/assets/default_avatars/path.jpg">
        <% end %>
         <%= link_to event.actor.name, "#user_path", class: "link-member", target: "_blank" %>
      </span>
      <span class="event-action">
        <%= event.action_desc %>
      </span>
      <% if event.action_type == "common" %>
        <span class="event-text">
        <a href="#"><%= event.invoke_item.content %></a>
        </span>
    </div>
      <% elsif event.action_type=="comment" %>
      <span class="event-commentable">
        <a href="#"><%= event.invoke_item.content %></a>
      </span>
    </div>
      <div class="event-body">
        <a href="#" class="event-text"><%= event.comment_content %></a>
      </div>
    <% end %>
  </div>
</div>
